@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  @font-face {
    font-family: 'Great-vibes';
    src: url('../../public/fonts/GreatVibes-Regular.ttf');
  }
  @font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato-Regular.ttf');
  }
}



body {
  background: #fff;
  color: #151515;
  font-family: Poppins ,Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 20rem;
  margin-top: 2rem;
  overflow-x: hidden;
}
