@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  @font-face {
    font-family: 'Great-vibes';
    src: url('../../public/fonts/GreatVibes-Regular.ttf');
  }
  @font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato-Regular.ttf');
  }
}



body {
  background: #fff;
  color: #151515;
  font-family: Poppins ,Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 2rem;
  overflow-x: hidden;
}

.swiper-pagination-bullet-active {
  background-color: #c14679 !important;
}

.swiper-pagination-bullet , .swiper-pagination-bullet-active{
  width: 10px !important;
  height: 10px !important;
}

.swiper-wrapper {
  align-items: center !important;
}

.page-header__title  {
  text-shadow: 3px 9px 16px rgba(0, 0, 0, 0.18);
}

.range-slider__range ,.range-slider__thumb {
  background: #c14679 !important;
}